Repository letienndat/karte-ios-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: Module:Core, Module:CrashReport, Module:IAM, Module:Notification, Module:Variables, Module:VT, Module:Inbox, Module:IAF, Module:Detectors, Module:Utilities, Module:NotificationServiceExtension, Module:Debugger, Test

.github/labeler.yml:

# Pull Requestの変更に対応するラベルの定義
# https://github.com/actions/labeler
'Module:Core':
  - KarteCore/**
'Module:CrashReport':
  - KarteCrashReporting/**
'Module:IAM':
  - KarteInAppMessaging/**
'Module:Notification':
  - KarteRemoteNotification/**
'Module:Variables':
  - KarteVariables/**
'Module:VT':
  - KarteVisualTracking/**
'Module:Inbox':
  - KarteInbox/**
'Module:IAF':
  - KarteInAppFrame/**
'Module:Detectors':
  - KarteDetectors/**
'Module:Utilities':
  - KarteUtilities/**
'Module:NotificationServiceExtension':
  - KarteNotificationServiceExtension/**
'Module:Debugger':
  - KarteDebugger/**
'Test':
  - KarteTests/**

Disable override implement method in Swizzler
  KarteUtilities/Runtime/SafeSwizzler.swift
Labels: Module:Utilities

Disable override implement method swizzler in UIViewControllerProxy
  KarteInAppMessaging/Swizzlers/UIViewControllerProxy.swift
  KarteUtilities/Runtime/SafeSwizzler.swift
Labels: Module:IAM, Module:Utilities

Use KarteInAppMessaging in source
  Package.swift
Labels: none

Using KarteInAppMessaging.xcframework.zip custom
  Package.swift
Labels: none

Revert Package.swift
  Package.swift
Labels: none

Using KarteInAppMessaging.xcframework.zip custom
  Package.swift
Labels: none

Using KarteInAppMessaging.xcframework.zip custom
  Package.swift
Labels: none
